[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "==12.0"
ujson = "==5.9.0"
minio = "==7.2.5"
aiofiles = "==23.2.1"

[dev-packages]

[requires]
python_version = "3.9"
